html {
  scroll-behavior: smooth;
  --section-nav-height: 3.25rem;
}

.content-group + .content-group {
  margin-top: 1.75rem;
}

@media screen and (max-width: 736px) {
  .tagline-detail {
    display: none;
  }
}
