@use "variables" as v;

html {
  scroll-behavior: smooth;
  --section-nav-height: 3.25rem;
  --section-padding-y: 8em;
  --section-padding-x: 0;
  --section-internal-gap: 2em;
}

.content-group + .content-group {
  margin-top: 1.75rem;
}

@media screen and (max-width: v.$breakpoint-small) {
  .tagline-detail {
    display: none;
  }
}
