/* XLarge */

@media screen and (max-width: 1680px) {
		body, input, select, textarea {
			font-size: 14pt;
		}

	#header {
		padding: 6em 0 6em 0 ;
	}
}

/* Large */

@media screen and (max-width: 1140px) {
	body, input, select, textarea {
		font-size: 13pt;
	}

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

/* List */

	ul.major-icons li {
		padding: 2em;
	}

	ul.major-icons li .icon {
		height: 8em;
		line-height: 8em;
		width: 8em;
	}

	/* Main */

	.main {
		padding: 5em 0 5em 0 ;
	}

	.main.style2 {
		background-attachment: scroll;
	}

	/* Header */

	#header {
		padding: 5em 0 5em 0 ;
		background-attachment: scroll;
	}

	#header br {
		display: inline;
	}

	/* Footer */

	#footer {
		padding: 4em 0 4em 0 ;
		background-attachment: scroll;
	}
}

/* Medium */

@media screen and (max-width: 980px) {
	.avatar {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}

	/* List */

	.bg-section {
		padding-bottom: 2rem !important;
	}

	.major-icons-container {
		margin-bottom: 2em;
	}

	ul.major-icons li {
		padding: 2em;
	}

	ul.major-icons li .icon {
		height: 7em;
		line-height: 7em;
		width: 7em;
	}

	/* Main */

	.main {
		padding: 6em 3em 6em 3em ;

	}

	/* Header */

	#header {
		padding: 8em 3em 8em 3em ;
	}

	/* Footer */

	#footer {
		padding: 5em 3em 5em 3em ;
	}

	/* One Two Three */

	#profile,
	#impact {
		text-align: center;
	}

	#profile p,
	#impact h3,
	#impact p {
		text-align: left;
	}

	#projects p,
	#recommendations p,
	#recognition p {
		margin-bottom: 0.75rem;
	}

	#impact {
		margin-top: 1.5em;
	}

	#skills {
		padding-bottom: 1.75em;
	}

	#projects {
		padding-bottom: 7.5em;
	}
}

/* Small */

@media screen and (max-width: 736px) {
	body, input, select, textarea {
		font-size: 12pt;
	}

	h1 {
		font-size: 1.75em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.1em;
	}

	h4 {
		font-size: 1em;
	}

	/* List */

	ul.major-icons li {
		padding: 1.5em;
	}

	ul.major-icons li .icon {
		height: 5em;
		line-height: 5em;
		width: 5em;
	}

	ul.major-icons li .icon:before {
		font-size: 42px;
	}

	/* Icon */

	.icon.major {
		margin: 0 0 1em 0;
	}

	/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: 3em;
		line-height: 3em;
	}

	/* Main */

	.main {
		padding: 4em 1.5em 4em 1.5em ;
	}

	/* Header */

	#header {
		padding: 4em 3em 4em 3em ;
	}

	#header .actions {
		margin: 2em 0 0 0;
	}

	/* Footer */

	#footer {
		padding: 3em 1.5em 3em 1.5em ;
	}
}

/* XSmall */

@media screen and (max-width: 480px) {
	#projects p,
	#recommendations p,
	#recognition p {
		text-align: left;
	}

	#projects h3,
	#recommendations h3,
	#recognition h3 {
		font-size: 140%;
	}

	.mobile-line-break {
		display: block;
	}

	/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		padding: 0;
	}

	/* Main */

	.main {
		padding: 3em 1.5em 3em 1.5em ;
	}

	/* Header */

	#header {
		padding: 4em 2em 4em 2em ;
	}

	#header br {
		display: none;
	}

	/* Footer */

	#footer {
		padding: 2em 1.5em 2em 1.5em ;
	}

	#footer .copyright {
		margin: 1.5em 0 0 0;
	}

	#footer .copyright li {
		border: 0;
		display: block;
		margin: 1em 0 0 0;
		padding: 0;
	}

	#footer .copyright li:first-child {
		margin-top: 0;
	}
}

/* XXSmall */

@media screen and (max-width: 320px) {

	/* Basic */

	html, body {
		min-width: 0;
	}

	/* Main */

	.main {
		padding: 3em 1em 3em 1em ;
	}

	/* Header */

	#header {
		padding: 3em 1em 3em 1em ;
	}

	/* Footer */

	#footer {
		padding: 2em 1em 2em 1em ;
	}
}
