html {
  scroll-behavior: smooth;
}

.recognition-group + .recognition-group {
  margin-top: 2.5rem;
}

@media screen and (max-width: 736px) {
  .tagline-detail {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  #root *,
  #root *::before,
  #root *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

.recognition-group .button {
  color: #5f7184 !important;
}

.recognition-group .button:hover {
  background-color: #5f7184;
  color: white !important;
}
